.form {
    display: flex;
    border-top: 2px solid #2c2c38;
}
  
.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
}
  
input:focus, textarea:focus, select:focus,
.sendButton:focus {
    outline: none;
}
  
.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #333333;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}

@media screen and (max-width: 500px) {
    .sendButton {
        width: 30%;
    }
    .input {
        width: 70%;
    }
  }